{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "overrides": [
    {
      "files": "core/**/*.mjs",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
